
PRODUCT_NAME = "CoffUp"
INFOPLIST_FILE = CoffUp/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = io.thumbworks.CoffUp
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

SDKROOT = iphoneos
CODE_SIGN_ENTITLEMENTS = CoffUp/CoffUp.entitlements
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
COPY_PHASE_STRIP = NO
TARGETED_DEVICE_FAMILY
IPHONEOS_DEPLOYMENT_TARGET
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
ALWAYS_SEARCH_USER_PATHS
GCC_DYNAMIC_NO_PIC
GCC_NO_COMMON_BLOCKS
GCC_C_LANGUAGE_STANDARD
CLANG_CXX_LANGUAGE_STANDARD
CLANG_CXX_LIBRARY
CLANG_ENABLE_MODULES
CLANG_ENABLE_OBJC_ARC
ENABLE_STRICT_OBJC_MSGSEND
CLANG_WARN_EMPTY_BODY
CLANG_WARN_BOOL_CONVERSION
CLANG_WARN_CONSTANT_CONVERSION
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION
CLANG_WARN_INT_CONVERSION
GCC_WARN_ABOUT_RETURN_TYPE
GCC_WARN_UNINITIALIZED_AUTOS
CLANG_WARN_UNREACHABLE_CODE
GCC_WARN_UNUSED_FUNCTION
GCC_WARN_UNUSED_VARIABLE
CLANG_WARN_DIRECT_OBJC_ISA_USAGE
CLANG_WARN__DUPLICATE_METHOD_MATCH
GCC_WARN_UNDECLARED_SELECTOR
CLANG_WARN_OBJC_ROOT_CLASS
CLANG_ANALYZER_NONNULL
